@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

@media screen and (max-width:410px) {
    html header{
        height: 230px;
        flex-flow: column nowrap;
        align-content: center;
        justify-content: center;
        
    }
    html header img{
        height: 90px;
        display: block;
        margin: auto;
        margin-top: 5px;
    }
    html header a{
     padding: 0px 40px; 
     display: flex;
     margin: 5px auto; 
     text-align: center;

    }
    html header a:hover{
        padding: 4px 150px;
    }
}
@media screen   and (min-width:411px) and (max-width:600px) {

    html header{
        height: 230px;
        flex-flow: column nowrap;
        align-content: center;
        justify-content: center;
        
    }
    html header img{
        height: 90px;
        display: block;
        margin: auto;
        margin-top: 5px;
    }
    html #img1{
        height: 345px;
    }
    html header a{
     padding: 0px 150px; 
     display: flex;
     margin: 5px auto; 
     text-align: center;

    }
    html header a:hover{
        padding: 4px 150px;
    }
    
}
@media screen and (max-width:800px) {
    html main{
        
    }
    html #img1{
        
        background-image: url(imagens/modelos\ m.jpg);
        
    }
    
}
/*
cores
#D38491
#D8AD75
#FFF3F3
#C88BD9
#D98BC8
#D9948B
#D9A28B

*/
*{
    margin: 0px;
    padding: 0px;
    font-family:Bodoni Moda;
    
}


header{
    
    display: flex;
    flex-direction: row ;
    align-content:center ;
    background-color: #331A1E;
    height: 60px;
    align-items: center;
    justify-content: space-between;

}

header img{
    height: 60px;
    margin-left:10px ;
    margin-top:5px;
    border-radius: 30px;

}
    #img1{
background-image: url(imagens/moda-anos-80-com-mix-de-estampas.png.webp);
background-size: 100vw;
background-repeat: no-repeat;
height: 500px;
max-width: 100vw;
background-position: center;
margin: auto;
    }

header nav{
    padding: 9px; 
  
    
}
header a{
    
    padding: 3px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color:#D8AD75 ;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px black;

}
header nav{
    margin-right: 10px;
}
nav a:hover{
    background-color: white ;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
    color: #D8AD75;
}
main{
    font-size: 1.4em;
    font-family: sans-serif;
    padding: 10px;
    background-color: #AA4F4F;
    min-height: 100vh; 
    
}

article{
    max-width: 800px;
    margin: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.342);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 1px;
    margin-bottom: 10px;
}
article#entrada{
margin-top:-10px ;
}
article#texto{
    display: block;
    
}
footer iframe{
    
    width: 100%;
    height: 300px;
    

}
.whatsapp-link {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    
}

.whatsapp-link img {
    width: 50px; 
    height: auto; 
    background-color: white;
    padding: 5px;
    border-radius: 20px 20px 20px 0px;
}
.whatsapp-link img:hover{
padding: 7px;
background-color: #331A1E;
transition-duration: .5s;
}


